@font-face {
    font-family: 'Graphik-Med-Italic';
    src: url(GraphikMediumItalic.otf);
}

@font-face {
    font-family: 'PP-Editorial';
    src: url(PPEditorialNew-UltralightItalic.ttf);
}

body {
    background-color: rgb(231, 231, 231);
}

.home-hero-temp {
    text-align: center;
    font-family: monospace;
    font-size: 23.5px;
}

.home-hero-info {
    text-align: center;
    font-family: monospace;
    font-size: 13px;
}

.home-hero-coming-soon {
    font-family: monospace;
    font-size: 15px;
    position: absolute;
    left: 50%;
    top: 95%;
    padding-top: 35px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #0000e4;
    text-decoration: underline;
}

.hero-temp-beatitude {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.copyright-other-info {
    font-family: monospace;
    font-size: 12px;
    position: absolute;
    left: 50%;
    top: 95%;
    padding-top: 135px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -1%);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: underline;
    font-family: monospace;
    padding-top: 250px;
    position: absolute;
    left: 50%;
    top: 95%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

li {
    display: inline;
}